@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: #fcfcfc;
}
.page-4x4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #152938;
    font-size: 2.5rem;
    font-weight: 700;
}
#restart,#new-game,#menu{
    border: none;
    border-radius: 1.625rem;
    background: #FDA214;
    width: 7.9375rem;
    height: 3.25rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fcfcfc;
    margin: .5rem;
    transition: .3s ease-in;
}
#restart:hover{
    background: #FFB84A;
}
#new-game{
    background: #DFE7EC;
    width: 9.3125rem;
    height: 3.25rem;
    color: #304859;
    transition: .3s ease-in;
}
#new-game:hover{
    background: #6395B8;
}
#menu{
    width: 4.875rem;
    height: 2.5rem;
    display: none;
}
.grid-container{
    /* width: 33.25rem;
    height: 33.25rem; */
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    /* grid-template-rows: repeat(4,1fr); */
    margin-top: 4rem;
    gap: 1rem;
}
.grid-container-6x6{
    grid-template-columns: repeat(6,1fr);
}
.grid-item {
    width: 7.375rem;
    height: 7.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.grid-item-6x6{
    width: 5.125rem;
    height: 5.125rem;
    font-size: 1rem;
}
.card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    cursor: pointer;
}

.card-front, .card-back {
    background: #304859;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}
.card-back:hover{
    background: #6395B8;
    transition: .3s ease-in;
}
.card-front{
    background: #BCCED9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}


.card-front-6x6{
    font-size: 2.7rem;
}

/* Initially hide the front of the card */
.card[data-flipped="false"] .card-front {
    transform: rotateY(180deg);
}

.status{
    width: 33.2rem;
    display: flex;
    justify-content: space-between;
}
.player{
    width: 15.9375rem;
    height: 4.5rem;
    background: #DFE7EC;
    border-radius: 0.625rem;
    margin: 5rem 2rem 0 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-player{
    width: 15.9375rem;
    height: 4.5rem;
    background: #DFE7EC;
    border-radius: 0.625rem;
    margin: 5rem 2rem 0 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-player.active-player{
    background: #FDA214;
}
.single-player.active-player p{
    color: #fcfcfc;
}
.single-player.active-player h2{
    color: #fcfcfc;
}

.single-player h2{
    color: #304859;
    font-size: 1.5rem;
    font-weight: 700;
}
/* .player h2.active-player{
    color: #fcfcfc;
} */
.single-player p{
    color: #7191A5;
    font-size: 1.125rem;
    font-weight: 700;
}
/* .player p.active-player{
    color: #fcfcfc;
} */
.count {
    width: 15.9375rem;
    height: 4.5rem;
    background: #DFE7EC;
    border-radius: 0.625rem;
    margin-top: 5rem;
}
.count h3{
    color: #7191A5;
    font-size: 1.125rem;
    font-weight: 700;
}
.count p,label{
    color: #304859;
    font-size: 1.5rem;
    font-weight: 700;
}
#time,#moves{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.popup-container{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.377);
    position: absolute;
    top: 0;
    /* transform: scale(0.01); */
    transition: .3s ease-in;
    /* visibility: hidden; */
}
.popup-container.show{
    transform: scale(1);
    visibility: visible;
}

.popup-content{
    width: 100%;
    max-width: 40.875rem;
    height: 100vh;
    max-height: 31.875rem;
    background: #F2F2F2;
    border-radius: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-content.multiplayer-popup{
    /* width: 40.875rem; */
    max-height: 43.875rem;
    /* background-color: red; */
}

.popup-content h1{
    color: #152938;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: .5rem;
}
.popup-content p{
    color: #7191A5;
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.info, .btn-container{
    width: 85%;
    height: 4.5rem;
    background: #DFE7EC;
    border-radius: .625rem;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info p{
    font-size: 1.125rem;
    padding: 0 2.5rem 0;
}
.info h1{
    font-size: 2rem;
    padding: 0 2.5rem 0;
}
.btn-container{
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-btn{
  width: 16.5rem;
  height: 3.25rem;
  border: none;
  border-radius: 1.625rem;
  font-size: 1.25rem;
  font-weight: 700;
  transition: .3s ease-in;
}
#popup-restart{
    background: #FDA214;
    color: #fcfcfc;

}
#popup-restart:hover{
    background: #FFB84A;
}
#popup-new-game{
    background: #DFE7EC;
    color: #304859;
}
#popup-new-game:hover{
    background: #6395B8;
}

@media (min-width: 320px) and (max-width: 420px){
   .logo{
        font-size: 1.5rem;
   }
   #restart,#new-game{
        display: none;
   }
   #menu{
        display: block;
   }
   .grid-container{
        gap: .8rem;
   }
   .grid-container-6x6{
    gap: .4rem;
   }
   .grid-item{
        width: 4.53313rem;
        height: 4.53313rem;
   }
   .grid-item-6x6{
        width: 2.92988rem;
        height: 2.92988rem;
    }
   .card-front{
        font-size: 2rem;
    }
    .card-front-6x6{
        font-size: 1.5rem;
    }
    .status{
        width: 85%;
    }
    .count{
        width: 9.4375rem;
        height: 4.375rem;
    }
    .count h3{
        font-size: 0.9375rem;
    }
    .count p,label{
        font-size: 1.5rem;
    }
    #time,#moves{
        flex-direction: column;
        justify-content: center;
    }
    .popup-content{
        width: 20.4375rem;
        height: 23.5rem;
    }
    .popup-content h1{
        font-size: 1.5rem;
    }
    .popup-content p{
        font-size: 0.875rem;
        padding-bottom: 1rem;
    }
    .info,.btn-container{
        height: 3rem;
        /* margin: 0; */
    }
    .btn-container{
        flex-direction: column;
        height: auto;
        margin: .5rem;
    }
    .info p{
        font-size: 0.8125rem;
        padding: 0 1rem 0;
    }
    .info h1{
        font-size: 1.25rem;
        padding: 0 1rem 0;
    }
    #popup-restart,#popup-new-game{
        font-size: 1.125rem;   
        margin: 0.5rem;
    }
    #popup-restart{
        margin-bottom: .5rem;
    }

    /* menu popup */
    .menu-container{
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.377);
        position: absolute;
        top: 0;
        transform: scale(0.01);
        transition: .2s ease-in;
        visibility: hidden;
    }
    .menu-container.show{
        transform: scale(1);
        visibility: visible;
    }
    .menu{
        width: 20.4375rem;
        height: 14rem;
    }
    .menu-btns{
        width: 85%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #menu-restart,#menu-newGame,#menu-resume{
        width: 100%;
        height: 3rem;
        border: none;
        border-radius: 1.625rem;
        background: #FDA214;
        font-size: 1.125rem;
        color: #fcfcfc;
        font-weight: 700;
    }
    #menu-newGame,#menu-resume{
        background: #DFE7EC;
        color: #304859;
    }
}
